<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Have a nice day!</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }

    .jumbotron, .well    { background-color: #ffb6c1;}

    .list-group-item { background-color: antiquewhite; }

</style>